

html, body {
	margin: 0;
	height: 100%;
	font-family: 'Muli', Tahoma, Geneva, Verdana, sans-serif !important;
}

#root {
  font-family: 'Muli', Tahoma, Geneva, Verdana, sans-serif !important;
}

.App {
	/*background-color: #333333;*/
	height: 100%;
}

#Login {
	height: 100%;
	
}

#LoginButton {
	width: 100%;
}

.nav-bar-general{
  color: white;
  border-color: white;
  -webkit-text-fill-color: white;
  background: red;
  border-radius: 0px  
}

.navbar-inverse .navbar-nav>li>a {
	color: #ffffff;
}

.navbar-inverse .navbar-brand {
	color: #ffffff;
}

.nav-bar-item:hover{
  color: white;
  border-color: white;
  -webkit-text-fill-color: white;
  background: rgb(189, 2, 2);
  border-radius: 0px  
}

.nav-bar-general-dropdowns{
  color: black;
  -webkit-text-fill-color : black;
}

.carroussel {
  width: 900px;
}

@media screen and (max-width: 480px) {
  .nav-bar-general-dropdowns{
    color: white;
    -webkit-text-fill-color : white;
  }
}

.footer-distributed{
	background-color: #333333;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	;
	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #333333;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #333333;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-icons {
	padding: 10px;
}

.footer-icons-item {
	margin: 10px;
}
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
		bottom: 0;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}



#circle {
	border-style: solid;
	border-color: black;
	border-radius: 12px;
	width: 25px;
}

.container {
	padding: 10px;
}


#PaymentsContainer {
	height: 450px;
	padding: 10px;
}
#TableSelectionContainer {
	height: 450px;
	width: 100%;
	padding: 0;
	margin: 0;
	padding-top: 40px;
}

.tableButton {
	width: 80px;
	height: 80px;
	margin: 10px;
	border-radius: 50%;
}

.tableButton2 {
	width: 80px;
	height: 80px;
	margin: 10px;
	border-radius: 50%;
}

.stage {
	-webkit-text-fill-color: #ffffff;
	font-weight: 700;
	border-color: rgba(216, 0, 0, 0.952);
	background-color: rgb(255, 67, 67);
	text-align: center;
	border-style: solid;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
	margin-bottom: 20px;
	margin-left: 15px;
}
.dancefloor {
	text-align: center;
	-webkit-text-fill-color: #ffffff;
	font-weight: 700;
	padding-top: 60px;
	border-color: rgba(216, 0, 0, 0.952) rgba(216, 0, 0, 0.952)  rgb(255, 67, 67) rgba(216, 0, 0, 0.952);
	background-color: rgb(255, 67, 67);
	border-style: solid;
	border-radius: 10px 10px 0 0;
	width: 100%;
	height: 85px;
	z-index: 100;
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 0;
}
.dancefloor2 {
	text-align: center;
	-webkit-text-fill-color: #ffffff;
	font-weight: 700;
	border-color:  rgb(255, 67, 67) rgba(216, 0, 0, 0.952) rgba(216, 0, 0, 0.952)  rgba(216, 0, 0, 0.952);
	background-color: rgb(255, 67, 67);
	border-style: solid;
	border-radius: 0 0 10px 10px;
	width: 100%;
	height: 80px;
	z-index: 100;
	margin-top: 0;
	margin-left: 15px;
	margin-bottom: 25px;
}

@media (min-width: 400px) and (max-width: 480px){
	.row {
		margin-left: 10px;
	}

	#row0s {
		margin-left: -40px;
	}

	#row1, #row2 {
		margin-left: 15px;
	}

	.col-xs-1 {
		margin-left: 0;
		margin-right: 10px;
	}
	.col-xs-2{
		width: 80px;
		margin: 0;
		padding-right: 1px;
	}
	#TableSelectionContainer {
		height: 450px;
		width: 100%;
		padding: 0;
		margin: 0;
		padding-top: 40px;
	}
	.tableButton {
		width: 40px;
		height: 80px;
		margin: 5px;
		border-radius: 10%;
		font-size: 5pt;
		padding-left: 8px;
	}
	.tableButton2 {
		width: 40px;
		height: 80px;
		margin: 5px;
		border-radius: 10%;
		font-size: 5pt;
		padding-left: 6px;
	}
	.dancefloor {
		text-align: center;
		-webkit-text-fill-color: #ffffff;
		font-weight: 700;
		padding-top: 60px;
		border-color: rgba(216, 0, 0, 0.952) rgba(216, 0, 0, 0.952)  rgb(255, 67, 67) rgba(216, 0, 0, 0.952);
		background-color: rgb(255, 67, 67);
		border-style: solid;
		border-radius: 10px 10px 0 0;
		width: 100%;
		height: 85px;
		z-index: 100;
		margin-top: 15px;
		margin-left: 12px;
		margin-bottom: 0;
		font-size: 5pt;
	}
	.dancefloor2 {
		text-align: center;
		-webkit-text-fill-color: #ffffff;
		font-weight: 700;
		border-color:  rgb(255, 67, 67) rgba(216, 0, 0, 0.952) rgba(216, 0, 0, 0.952)  rgba(216, 0, 0, 0.952);
		background-color: rgb(255, 67, 67);
		border-style: solid;
		border-radius: 0 0 10px 10px;
		width: 100%;
		height: 80px;
		z-index: 100;
		margin-top: 0;
		margin-left: 12px;
		margin-bottom: 25px;
		
	}
}

@media (min-width: 351px) and (max-width: 399px){
	.row {
		margin-left: -8px;
	}

	#row0s {
		margin-left: -40px;
	}

	#row1, #row2 {
		margin-left: -5px;
	}

	.col-xs-1 {
		margin-left: 0;
		margin-right: 10px;
	}
	.col-xs-2{
		width: 80px;
		margin: 0;
		padding-right: 1px;
	}
	#TableSelectionContainer {
		height: 450px;
		width: 100%;
		padding: 0;
		margin: 0;
		padding-top: 40px;
	}
	.tableButton {
		width: 40px;
		height: 80px;
		margin: 5px;
		border-radius: 10%;
		font-size: 5pt;
		padding-left: 8px;
	}
	.tableButton2 {
		width: 40px;
		height: 80px;
		margin: 5px;
		border-radius: 10%;
		font-size: 5pt;
		padding-left: 6px;
	}
	.dancefloor {
		text-align: center;
		-webkit-text-fill-color: #ffffff;
		font-weight: 700;
		padding-top: 60px;
		border-color: rgba(216, 0, 0, 0.952) rgba(216, 0, 0, 0.952)  rgb(255, 67, 67) rgba(216, 0, 0, 0.952);
		background-color: rgb(255, 67, 67);
		border-style: solid;
		border-radius: 10px 10px 0 0;
		width: 100%;
		height: 85px;
		z-index: 100;
		margin-top: 15px;
		margin-left: 12px;
		margin-bottom: 0;
		font-size: 5pt;
	}
	.dancefloor2 {
		text-align: center;
		-webkit-text-fill-color: #ffffff;
		font-weight: 700;
		border-color:  rgb(255, 67, 67) rgba(216, 0, 0, 0.952) rgba(216, 0, 0, 0.952)  rgba(216, 0, 0, 0.952);
		background-color: rgb(255, 67, 67);
		border-style: solid;
		border-radius: 0 0 10px 10px;
		width: 100%;
		height: 80px;
		z-index: 100;
		margin-top: 0;
		margin-left: 12px;
		margin-bottom: 25px;
		
	}
}
@media (min-width: 1000px) and (max-width: 1200px){
	
.tableButton {
	width: 80px;
	height: 80px;
	margin: 10px;
	border-radius: 50%;
}

.tableButton2 {
	width: 80px;
	height: 80px;
	margin: 10px;
	border-radius: 50%;
}

.stage {
	-webkit-text-fill-color: #ffffff;
	font-weight: 700;
	border-color: rgba(216, 0, 0, 0.952);
	background-color: rgb(255, 67, 67);
	text-align: center;
	border-style: solid;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
	margin-bottom: 20px;
	margin-left: 15px;
}
.dancefloor {
	text-align: center;
	-webkit-text-fill-color: #ffffff;
	font-weight: 700;
	padding-top: 60px;
	border-color: rgba(216, 0, 0, 0.952) rgba(216, 0, 0, 0.952)  rgb(255, 67, 67) rgba(216, 0, 0, 0.952);
	background-color: rgb(255, 67, 67);
	border-style: solid;
	border-radius: 10px 10px 0 0;
	width: 100%;
	height: 85px;
	z-index: 100;
	margin-top: 15px;
	margin-left: 25px;
	margin-bottom: 0;
}
.dancefloor2 {
	text-align: center;
	-webkit-text-fill-color: #ffffff;
	font-weight: 700;
	border-color:  rgb(255, 67, 67) rgba(216, 0, 0, 0.952) rgba(216, 0, 0, 0.952)  rgba(216, 0, 0, 0.952);
	background-color: rgb(255, 67, 67);
	border-style: solid;
	border-radius: 0 0 10px 10px;
	width: 100%;
	height: 80px;
	z-index: 100;
	margin-top: 0;
	margin-left: 25px;
	margin-bottom: 25px;
}

}

@media (min-width: 700px) and (max-width: 999px){
	.row {
		margin-left: -35px;
	}

	#row0s {
		margin-left: -40px;
	}

	#row1, #row2 {
		margin-left: 30px;
	}

	.col-xs-1 {
		margin-left: 0;
		margin-right: 30px;
	}
	.col-xs-2{
		width: 80px;
		margin: 0;
		padding-right: 1px;
	}
	.tableButton {
		width: 80px;
		height: 80px;
		margin: 10px;
		border-radius: 50%;
	}
	
	.tableButton2 {
		width: 80px;
		height: 80px;
		margin: 10px;
		border-radius: 50%;
	}
	
	.stage {
		-webkit-text-fill-color: #ffffff;
		font-weight: 700;
		border-color: rgba(216, 0, 0, 0.952);
		background-color: rgb(255, 67, 67);
		text-align: center;
		border-style: solid;
		border-radius: 10px;
		padding: 10px;
		width: 100%;
		margin-bottom: 20px;
		margin-left: 8px;
	}
	.dancefloor {
		text-align: center;
		-webkit-text-fill-color: #ffffff;
		font-weight: 700;
		padding-top: 60px;
		border-color: rgba(216, 0, 0, 0.952) rgba(216, 0, 0, 0.952)  rgb(255, 67, 67) rgba(216, 0, 0, 0.952);
		background-color: rgb(255, 67, 67);
		border-style: solid;
		border-radius: 10px 10px 0 0;
		width: 100%;
		height: 85px;
		z-index: 100;
		margin-top: 15px;
		margin-left: 13px;
		margin-bottom: 0;
	}
	.dancefloor2 {
		text-align: center;
		-webkit-text-fill-color: #ffffff;
		font-weight: 700;
		border-color:  rgb(255, 67, 67) rgba(216, 0, 0, 0.952) rgba(216, 0, 0, 0.952)  rgba(216, 0, 0, 0.952);
		background-color: rgb(255, 67, 67);
		border-style: solid;
		border-radius: 0 0 10px 10px;
		width: 100%;
		height: 80px;
		z-index: 100;
		margin-top: 0;
		margin-left: 13px;
		margin-bottom: 25px;
	}
	
	}

	
@media (min-width: 600px) and (max-width: 699px){
	.row {
		margin-left: -32px;
	}

	#row0s {
		margin-left: -40px;
	}

	#row1, #row2 {
		margin-left: 20px;
	}

	.col-xs-1 {
		margin-left: 0;
		margin-right: 25px;
	}
	.col-xs-2{
		width: 80px;
		margin: 0;
		padding-right: 1px;
	}
	.tableButton {
		width: 80px;
		height: 80px;
		margin: 10px;
		border-radius: 50%;
	}
	
	.tableButton2 {
		width: 80px;
		height: 80px;
		margin: 10px;
		border-radius: 50%;
	}
	
	.stage {
		-webkit-text-fill-color: #ffffff;
		font-weight: 700;
		border-color: rgba(216, 0, 0, 0.952);
		background-color: rgb(255, 67, 67);
		text-align: center;
		border-style: solid;
		border-radius: 10px;
		padding: 10px;
		width: 100%;
		margin-bottom: 20px;
		margin-left: 8px;
	}
	.dancefloor {
		text-align: center;
		-webkit-text-fill-color: #ffffff;
		font-weight: 700;
		padding-top: 60px;
		border-color: rgba(216, 0, 0, 0.952) rgba(216, 0, 0, 0.952)  rgb(255, 67, 67) rgba(216, 0, 0, 0.952);
		background-color: rgb(255, 67, 67);
		border-style: solid;
		border-radius: 10px 10px 0 0;
		width: 100%;
		height: 85px;
		z-index: 100;
		margin-top: 15px;
		margin-left: 19px;
		margin-bottom: 0;
	}
	.dancefloor2 {
		text-align: center;
		-webkit-text-fill-color: #ffffff;
		font-weight: 700;
		border-color:  rgb(255, 67, 67) rgba(216, 0, 0, 0.952) rgba(216, 0, 0, 0.952)  rgba(216, 0, 0, 0.952);
		background-color: rgb(255, 67, 67);
		border-style: solid;
		border-radius: 0 0 10px 10px;
		width: 100%;
		height: 80px;
		z-index: 100;
		margin-top: 0;
		margin-left: 19px;
		margin-bottom: 25px;
	}
	
	}


	@media (min-width: 501px) and (max-width: 599px){
		.row {
			margin-left: -10px;
		}
	
		#row0s {
			margin-left: -40px;
		}
	
		#row1, #row2 {
			margin-left: 20px;
		}
	
		.col-xs-1 {
			margin-left: 0;
			margin-right: 18px;
		}
		.col-xs-2{
			width: 80px;
			margin: 0;
			padding-right: 1px;
		}
		.tableButton {
			width: 60px;
			height: 60px;
			margin: 10px;
			border-radius: 50%;
			font-size: 8pt;
		}
		
		.tableButton2 {
			width: 60px;
			height: 60px;
			margin: 10px;
			border-radius: 50%;
			padding-left: 8px;
			font-size: 8pt;
		}
		
		.stage {
			-webkit-text-fill-color: #ffffff;
			font-weight: 700;
			border-color: rgba(216, 0, 0, 0.952);
			background-color: rgb(255, 67, 67);
			text-align: center;
			border-style: solid;
			border-radius: 10px;
			padding: 10px;
			width: 100%;
			margin-bottom: 20px;
			margin-left: 8px;
		}
		.dancefloor {
			text-align: center;
			-webkit-text-fill-color: #ffffff;
			font-weight: 700;
			padding-top: 60px;
			border-color: rgba(216, 0, 0, 0.952) rgba(216, 0, 0, 0.952)  rgb(255, 67, 67) rgba(216, 0, 0, 0.952);
			background-color: rgb(255, 67, 67);
			border-style: solid;
			border-radius: 10px 10px 0 0;
			width: 100%;
			height: 85px;
			z-index: 100;
			margin-top: 15px;
			margin-left: 16px;
			margin-bottom: 0;
		}
		.dancefloor2 {
			text-align: center;
			-webkit-text-fill-color: #ffffff;
			font-weight: 700;
			border-color:  rgb(255, 67, 67) rgba(216, 0, 0, 0.952) rgba(216, 0, 0, 0.952)  rgba(216, 0, 0, 0.952);
			background-color: rgb(255, 67, 67);
			border-style: solid;
			border-radius: 0 0 10px 10px;
			width: 100%;
			height: 80px;
			z-index: 100;
			margin-top: 0;
			margin-left: 16px;
			margin-bottom: 25px;
		}
		
		}

		
	@media (min-width: 481px) and (max-width: 499px){
		.row {
			margin-left: -30px;
		}
	
		#row0s {
			margin-left: -30px;
		}
	
		#row1, #row2 {
			margin-left: -5px;
		}
	
		.col-xs-1 {
			margin-left: 0;
			margin-right: 17px;
		}
		.col-xs-2{
			width: 80px;
			margin: 0;
			padding-right: 1px;
		}
		.tableButton {
			width: 55px;
			height: 55px;
			margin: 10px;
			border-radius: 50%;
			font-size: 7pt;
		}
		
		.tableButton2 {
			width: 55px;
			height: 55px;
			margin: 10px;
			border-radius: 50%;
			padding-left: 9px;
			font-size: 7pt;
		}
		
		.stage {
			-webkit-text-fill-color: #ffffff;
			font-weight: 700;
			border-color: rgba(216, 0, 0, 0.952);
			background-color: rgb(255, 67, 67);
			text-align: center;
			border-style: solid;
			border-radius: 10px;
			padding: 10px;
			width: 100%;
			margin-bottom: 20px;
			margin-left: 8px;
		}
		.dancefloor {
			text-align: center;
			-webkit-text-fill-color: #ffffff;
			font-weight: 700;
			padding-top: 60px;
			border-color: rgba(216, 0, 0, 0.952) rgba(216, 0, 0, 0.952)  rgb(255, 67, 67) rgba(216, 0, 0, 0.952);
			background-color: rgb(255, 67, 67);
			border-style: solid;
			border-radius: 10px 10px 0 0;
			width: 100%;
			height: 85px;
			z-index: 100;
			margin-top: 15px;
			margin-left: 18px;
			margin-bottom: 0;
		}
		.dancefloor2 {
			text-align: center;
			-webkit-text-fill-color: #ffffff;
			font-weight: 700;
			border-color:  rgb(255, 67, 67) rgba(216, 0, 0, 0.952) rgba(216, 0, 0, 0.952)  rgba(216, 0, 0, 0.952);
			background-color: rgb(255, 67, 67);
			border-style: solid;
			border-radius: 0 0 10px 10px;
			width: 100%;
			height: 80px;
			z-index: 100;
			margin-top: 0;
			margin-left: 18px;
			margin-bottom: 25px;
		}
		
		}

		@media (max-width: 350px){
			.row {
				margin-left: -25px;
			}
		
			#row0s {
				margin-left: -50px;
			}
		
			#row1, #row2 {
				margin-left: -25px;
			}
		
			.col-xs-1 {
				margin-left: 0;
				margin-right: 10px;
			}
			.col-xs-2{
				width: 80px;
				margin: 0;
				padding-right: 1px;
			}
			#TableSelectionContainer {
				height: 450px;
				width: 100%;
				padding: 0;
				margin: 0;
				padding-top: 40px;
			}
			.tableButton {
				width: 40px;
				height: 80px;
				margin: 5px;
				border-radius: 10%;
				font-size: 5pt;
				padding-left: 8px;
			}
			.tableButton2 {
				width: 40px;
				height: 80px;
				margin: 5px;
				border-radius: 10%;
				font-size: 5pt;
				padding-left: 6px;
			}
			.dancefloor {
				text-align: center;
				-webkit-text-fill-color: #ffffff;
				font-weight: 700;
				padding-top: 60px;
				border-color: rgba(216, 0, 0, 0.952) rgba(216, 0, 0, 0.952)  rgb(255, 67, 67) rgba(216, 0, 0, 0.952);
				background-color: rgb(255, 67, 67);
				border-style: solid;
				border-radius: 10px 10px 0 0;
				width: 100%;
				height: 85px;
				z-index: 100;
				margin-top: 15px;
				margin-left: 12px;
				margin-bottom: 0;
				font-size: 5pt;
			}
			.dancefloor2 {
				text-align: center;
				-webkit-text-fill-color: #ffffff;
				font-weight: 700;
				border-color:  rgb(255, 67, 67) rgba(216, 0, 0, 0.952) rgba(216, 0, 0, 0.952)  rgba(216, 0, 0, 0.952);
				background-color: rgb(255, 67, 67);
				border-style: solid;
				border-radius: 0 0 10px 10px;
				width: 100%;
				height: 80px;
				z-index: 100;
				margin-top: 0;
				margin-left: 12px;
				margin-bottom: 25px;
				
			}
		}

	