

html, body {
	margin: 0;
  height: 100%;
  font-family: 'Muli', Tahoma, Geneva, Verdana, sans-serif !important;
  background: #EDEDED;
}

#root {
  height: 100%;
  font-family: 'Muli', Tahoma, Geneva, Verdana, sans-serif !important;
}

.App {
	/*background-color: #333333;*/
  height: 100%;
}



	